<mat-toolbar color="primary">
  <mat-toolbar-row class="navbar nav-flex">
    <div class="homeMenu">
      <a mat-button (click)="changeNavState()">
        <mat-icon>menu</mat-icon>
      </a>
      <a routerLink="/home">TechISeek</a>

    </div>

    <div class="itemsMenu">
        <a mat-button routerLink="/phones">
        <mat-icon aria-hidden="false" aria-label="heart icon">mobile_screen_share</mat-icon>Phones
        </a>
      <a mat-button routerLink="/laptops">
        <mat-icon aria-hidden="false" aria-label="delete icon">laptop</mat-icon>Laptops
      </a>
    </div>
  </mat-toolbar-row>



</mat-toolbar>